@import url('https://fonts.googleapis.com/css?family=Scope+One|Oxygen');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #333;
  font-size: 1.4em;
}
a {
  text-decoration: none;
  color: #f54;
  transition: all .3s ease-in-out;
}
a:hover {
  text-decoration: none;
  color: #333;
}