
.options {
    font-size: .65em;
    color: #666;
}
.options .option {
    cursor: pointer;
    color: #f54;
    z-index: 9999;
    position: relative;
}
.options .option.active {
    border-bottom: 1px solid #f54;
}
.edit-post{
    position: absolute;
    right: 20px;
}