.category-switcher ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.category-switcher ul li a {
    padding: 20px;
}
.category-switcher ul li a.active {
    border-bottom: 1px solid #f54;
}
.category-switcher ul li a:hover {
    color: #f54;
}